.dim .fg-90,
.fg-30 { color: #0C0C0C; }
.dim .fg-91,
.fg-31 { color: #CD0000; }
.dim .fg-92,
.fg-32 { color: #00CD00; }
.dim .fg-93,
.fg-33 { color: #CDCD00; }
.dim .fg-94,
.fg-34 { color: #1E90FF; }
.dim .fg-95,
.fg-35 { color: #CD00CD; }
.dim .fg-96,
.fg-36 { color: #00CDCD; }
.dim .fg-97,
.fg-37 { color: #E5E5E5; }
.fg-39 { color: inherit; }

.bright .bold.fg-30,
.fg-90 { color: #4C4C4C; }
.bright .bold.fg-31,
.fg-91 { color: #F00; }
.bright .bold.fg-32,
.fg-92 { color: #0F0; }
.bright .bold.fg-33,
.fg-93 { color: #FF0; }
.bright .bold.fg-34,
.fg-94 { color: #4682B4; }
.bright .bold.fg-35,
.fg-95 { color: #F0F; }
.bright .bold.fg-36,
.fg-96 { color: #0FF; }
.bright .bold.fg-37,
.fg-97 { color: #FFF; }

.fg-256-0 { color: #000; }
.fg-256-1 { color: #800000; }
.fg-256-2 { color: #008000; }
.fg-256-3 { color: #808000; }
.fg-256-4 { color: #000080; }
.fg-256-5 { color: #800080; }
.fg-256-6 { color: #008080; }
.fg-256-7 { color: #C0C0C0; }
.fg-256-8 { color: #808080; }
.fg-256-9 { color: #FF0000; }
.fg-256-10 { color: #00FF00; }
.fg-256-11 { color: #FFFF00; }
.fg-256-12 { color: #0000FF; }
.fg-256-13 { color: #FF00FF; }
.fg-256-14 { color: #00FFFF; }
.fg-256-15 { color: #FFF; }
.fg-256-16 { color: #000; }
.fg-256-17 { color: #00005F; }
.fg-256-18 { color: #000087; }
.fg-256-19 { color: #0000AF; }
.fg-256-20 { color: #0000D7; }
.fg-256-21 { color: #0000FF; }
.fg-256-22 { color: #005F00; }
.fg-256-23 { color: #005F5F; }
.fg-256-24 { color: #005F87; }
.fg-256-25 { color: #005FAF; }
.fg-256-26 { color: #005FD7; }
.fg-256-27 { color: #005FFF; }
.fg-256-28 { color: #008700; }
.fg-256-29 { color: #00875F; }
.fg-256-30 { color: #008787; }
.fg-256-31 { color: #0087AF; }
.fg-256-32 { color: #0087D7; }
.fg-256-33 { color: #0087FF; }
.fg-256-34 { color: #00AF00; }
.fg-256-35 { color: #00AF5F; }
.fg-256-36 { color: #00AF87; }
.fg-256-37 { color: #00AFAF; }
.fg-256-38 { color: #00AFD7; }
.fg-256-39 { color: #00AFFF; }
.fg-256-40 { color: #00D700; }
.fg-256-41 { color: #00D75F; }
.fg-256-42 { color: #00D787; }
.fg-256-43 { color: #00D7AF; }
.fg-256-44 { color: #00D7D7; }
.fg-256-45 { color: #00D7FF; }
.fg-256-46 { color: #00FF00; }
.fg-256-47 { color: #00FF5F; }
.fg-256-48 { color: #00FF87; }
.fg-256-49 { color: #00FFAF; }
.fg-256-50 { color: #00FFD7; }
.fg-256-51 { color: #00FFFF; }
.fg-256-52 { color: #5F0000; }
.fg-256-53 { color: #5F005F; }
.fg-256-54 { color: #5F0087; }
.fg-256-55 { color: #5F00AF; }
.fg-256-56 { color: #5F00D7; }
.fg-256-57 { color: #5F00FF; }
.fg-256-58 { color: #5F5F00; }
.fg-256-59 { color: #5F5F5F; }
.fg-256-60 { color: #5F5F87; }
.fg-256-61 { color: #5F5FAF; }
.fg-256-62 { color: #5F5FD7; }
.fg-256-63 { color: #5F5FFF; }
.fg-256-64 { color: #5F8700; }
.fg-256-65 { color: #5F875F; }
.fg-256-66 { color: #5F8787; }
.fg-256-67 { color: #5F87AF; }
.fg-256-68 { color: #5F87D7; }
.fg-256-69 { color: #5F87FF; }
.fg-256-70 { color: #5FAF00; }
.fg-256-71 { color: #5FAF5F; }
.fg-256-72 { color: #5FAF87; }
.fg-256-73 { color: #5FAFAF; }
.fg-256-74 { color: #5FAFD7; }
.fg-256-75 { color: #5FAFFF; }
.fg-256-76 { color: #5FD700; }
.fg-256-77 { color: #5FD75F; }
.fg-256-78 { color: #5FD787; }
.fg-256-79 { color: #5FD7AF; }
.fg-256-80 { color: #5FD7D7; }
.fg-256-81 { color: #5FD7FF; }
.fg-256-82 { color: #5FFF00; }
.fg-256-83 { color: #5FFF5F; }
.fg-256-84 { color: #5FFF87; }
.fg-256-85 { color: #5FFFAF; }
.fg-256-86 { color: #5FFFD7; }
.fg-256-87 { color: #5FFFFF; }
.fg-256-88 { color: #870000; }
.fg-256-89 { color: #87005F; }
.fg-256-90 { color: #870087; }
.fg-256-91 { color: #8700AF; }
.fg-256-92 { color: #8700D7; }
.fg-256-93 { color: #8700FF; }
.fg-256-94 { color: #875F00; }
.fg-256-95 { color: #875F5F; }
.fg-256-96 { color: #875F87; }
.fg-256-97 { color: #875FAF; }
.fg-256-98 { color: #875FD7; }
.fg-256-99 { color: #875FFF; }
.fg-256-100 { color: #878700; }
.fg-256-101 { color: #87875F; }
.fg-256-102 { color: #878787; }
.fg-256-103 { color: #8787AF; }
.fg-256-104 { color: #8787D7; }
.fg-256-105 { color: #8787FF; }
.fg-256-106 { color: #87AF00; }
.fg-256-107 { color: #87AF5F; }
.fg-256-108 { color: #87AF87; }
.fg-256-109 { color: #87AFAF; }
.fg-256-110 { color: #87AFD7; }
.fg-256-111 { color: #87AFFF; }
.fg-256-112 { color: #87D700; }
.fg-256-113 { color: #87D75F; }
.fg-256-114 { color: #87D787; }
.fg-256-115 { color: #87D7AF; }
.fg-256-116 { color: #87D7D7; }
.fg-256-117 { color: #87D7FF; }
.fg-256-118 { color: #87FF00; }
.fg-256-119 { color: #87FF5F; }
.fg-256-120 { color: #87FF87; }
.fg-256-121 { color: #87FFAF; }
.fg-256-122 { color: #87FFD7; }
.fg-256-123 { color: #87FFFF; }
.fg-256-124 { color: #AF0000; }
.fg-256-125 { color: #AF005F; }
.fg-256-126 { color: #AF0087; }
.fg-256-127 { color: #AF00AF; }
.fg-256-128 { color: #AF00D7; }
.fg-256-129 { color: #AF00FF; }
.fg-256-130 { color: #AF5F00; }
.fg-256-131 { color: #AF5F5F; }
.fg-256-132 { color: #AF5F87; }
.fg-256-133 { color: #AF5FAF; }
.fg-256-134 { color: #AF5FD7; }
.fg-256-135 { color: #AF5FFF; }
.fg-256-136 { color: #AF8700; }
.fg-256-137 { color: #AF875F; }
.fg-256-138 { color: #AF8787; }
.fg-256-139 { color: #AF87AF; }
.fg-256-140 { color: #AF87D7; }
.fg-256-141 { color: #AF87FF; }
.fg-256-142 { color: #AFAF00; }
.fg-256-143 { color: #AFAF5F; }
.fg-256-144 { color: #AFAF87; }
.fg-256-145 { color: #AFAFAF; }
.fg-256-146 { color: #AFAFD7; }
.fg-256-147 { color: #AFAFFF; }
.fg-256-148 { color: #AFD700; }
.fg-256-149 { color: #AFD75F; }
.fg-256-150 { color: #AFD787; }
.fg-256-151 { color: #AFD7AF; }
.fg-256-152 { color: #AFD7D7; }
.fg-256-153 { color: #AFD7FF; }
.fg-256-154 { color: #AFFF00; }
.fg-256-155 { color: #AFFF5F; }
.fg-256-156 { color: #AFFF87; }
.fg-256-157 { color: #AFFFAF; }
.fg-256-158 { color: #AFFFD7; }
.fg-256-159 { color: #AFFFFF; }
.fg-256-160 { color: #D70000; }
.fg-256-161 { color: #D7005F; }
.fg-256-162 { color: #D70087; }
.fg-256-163 { color: #D700AF; }
.fg-256-164 { color: #D700D7; }
.fg-256-165 { color: #D700FF; }
.fg-256-166 { color: #D75F00; }
.fg-256-167 { color: #D75F5F; }
.fg-256-168 { color: #D75F87; }
.fg-256-169 { color: #D75FAF; }
.fg-256-170 { color: #D75FD7; }
.fg-256-171 { color: #D75FFF; }
.fg-256-172 { color: #D78700; }
.fg-256-173 { color: #D7875F; }
.fg-256-174 { color: #D78787; }
.fg-256-175 { color: #D787AF; }
.fg-256-176 { color: #D787D7; }
.fg-256-177 { color: #D787FF; }
.fg-256-178 { color: #D7AF00; }
.fg-256-179 { color: #D7AF5F; }
.fg-256-180 { color: #D7AF87; }
.fg-256-181 { color: #D7AFAF; }
.fg-256-182 { color: #D7AFD7; }
.fg-256-183 { color: #D7AFFF; }
.fg-256-184 { color: #D7D700; }
.fg-256-185 { color: #D7D75F; }
.fg-256-186 { color: #D7D787; }
.fg-256-187 { color: #D7D7AF; }
.fg-256-188 { color: #D7D7D7; }
.fg-256-189 { color: #D7D7FF; }
.fg-256-190 { color: #D7FF00; }
.fg-256-191 { color: #D7FF5F; }
.fg-256-192 { color: #D7FF87; }
.fg-256-193 { color: #D7FFAF; }
.fg-256-194 { color: #D7FFD7; }
.fg-256-195 { color: #D7FFFF; }
.fg-256-196 { color: #FF0000; }
.fg-256-197 { color: #FF005F; }
.fg-256-198 { color: #FF0087; }
.fg-256-199 { color: #FF00AF; }
.fg-256-200 { color: #FF00D7; }
.fg-256-201 { color: #FF00FF; }
.fg-256-202 { color: #FF5F00; }
.fg-256-203 { color: #FF5F5F; }
.fg-256-204 { color: #FF5F87; }
.fg-256-205 { color: #FF5FAF; }
.fg-256-206 { color: #FF5FD7; }
.fg-256-207 { color: #FF5FFF; }
.fg-256-208 { color: #FF8700; }
.fg-256-209 { color: #FF875F; }
.fg-256-210 { color: #FF8787; }
.fg-256-211 { color: #FF87AF; }
.fg-256-212 { color: #FF87D7; }
.fg-256-213 { color: #FF87FF; }
.fg-256-214 { color: #FFAF00; }
.fg-256-215 { color: #FFAF5F; }
.fg-256-216 { color: #FFAF87; }
.fg-256-217 { color: #FFAFAF; }
.fg-256-218 { color: #FFAFD7; }
.fg-256-219 { color: #FFAFFF; }
.fg-256-220 { color: #FFD700; }
.fg-256-221 { color: #FFD75F; }
.fg-256-222 { color: #FFD787; }
.fg-256-223 { color: #FFD7AF; }
.fg-256-224 { color: #FFD7D7; }
.fg-256-225 { color: #FFD7FF; }
.fg-256-226 { color: #FFFF00; }
.fg-256-227 { color: #FFFF5F; }
.fg-256-228 { color: #FFFF87; }
.fg-256-229 { color: #FFFFAF; }
.fg-256-230 { color: #FFFFD7; }
.fg-256-231 { color: #FFF; }
.fg-256-232 { color: #080808; }
.fg-256-233 { color: #121212; }
.fg-256-234 { color: #1C1C1C; }
.fg-256-235 { color: #262626; }
.fg-256-236 { color: #303030; }
.fg-256-237 { color: #3A3A3A; }
.fg-256-238 { color: #444; }
.fg-256-239 { color: #4E4E4E; }
.fg-256-240 { color: #585858; }
.fg-256-241 { color: #606060; }
.fg-256-242 { color: #666; }
.fg-256-243 { color: #767676; }
.fg-256-244 { color: #808080; }
.fg-256-245 { color: #8A8A8A; }
.fg-256-246 { color: #949494; }
.fg-256-247 { color: #9E9E9E; }
.fg-256-248 { color: #A8A8A8; }
.fg-256-249 { color: #B2B2B2; }
.fg-256-250 { color: #BCBCBC; }
.fg-256-251 { color: #C6C6C6; }
.fg-256-252 { color: #D0D0D0; }
.fg-256-253 { color: #DADADA; }
.fg-256-254 { color: #E4E4E4; }
.fg-256-255 { color: #EEE; }

.dim .bg-100,
.bg-40 { background-color: #0C0C0C; }
.dim .bg-101,
.bg-41 { background-color: #CD0000; }
.dim .bg-102,
.bg-42 { background-color: #00CD00; }
.dim .bg-103,
.bg-43 { background-color: #CDCD00; }
.dim .bg-104,
.bg-44 { background-color: #1E90FF; }
.dim .bg-105,
.bg-45 { background-color: #CD00CD; }
.dim .bg-106,
.bg-46 { background-color: #00CDCD; }
.dim .bg-107,
.bg-47 { background-color: #E5E5E5; }
.bg-49 { background-color: inherit; }

.bright .bold.bg-40,
.bg-90 { background-color: #4C4C4C; }
.bright .bold.bg-41,
.bg-91 { background-color: #FF0000; }
.bright .bold.bg-42,
.bg-92 { background-color: #00FF00; }
.bright .bold.bg-43,
.bg-93 { background-color: #FFFF00; }
.bright .bold.bg-44,
.bg-94 { background-color: #4682B4; }
.bright .bold.bg-45,
.bg-95 { background-color: #FF00FF; }
.bright .bold.bg-46,
.bg-96 { background-color: #00FFFF; }
.bright .bold.bg-47,
.bg-97 { background-color: #FFF; }

.bg-256-0 { background-color: #000; }
.bg-256-1 { background-color: #800000; }
.bg-256-2 { background-color: #008000; }
.bg-256-3 { background-color: #808000; }
.bg-256-4 { background-color: #000080; }
.bg-256-5 { background-color: #800080; }
.bg-256-6 { background-color: #008080; }
.bg-256-7 { background-color: #C0C0C0; }
.bg-256-8 { background-color: #808080; }
.bg-256-9 { background-color: #FF0000; }
.bg-256-10 { background-color: #00FF00; }
.bg-256-11 { background-color: #FFFF00; }
.bg-256-12 { background-color: #0000FF; }
.bg-256-13 { background-color: #FF00FF; }
.bg-256-14 { background-color: #00FFFF; }
.bg-256-15 { background-color: #FFF; }
.bg-256-16 { background-color: #000; }
.bg-256-17 { background-color: #00005F; }
.bg-256-18 { background-color: #000087; }
.bg-256-19 { background-color: #0000AF; }
.bg-256-20 { background-color: #0000D7; }
.bg-256-21 { background-color: #0000FF; }
.bg-256-22 { background-color: #005F00; }
.bg-256-23 { background-color: #005F5F; }
.bg-256-24 { background-color: #005F87; }
.bg-256-25 { background-color: #005FAF; }
.bg-256-26 { background-color: #005FD7; }
.bg-256-27 { background-color: #005FFF; }
.bg-256-28 { background-color: #008700; }
.bg-256-29 { background-color: #00875F; }
.bg-256-30 { background-color: #008787; }
.bg-256-31 { background-color: #0087AF; }
.bg-256-32 { background-color: #0087D7; }
.bg-256-33 { background-color: #0087FF; }
.bg-256-34 { background-color: #00AF00; }
.bg-256-35 { background-color: #00AF5F; }
.bg-256-36 { background-color: #00AF87; }
.bg-256-37 { background-color: #00AFAF; }
.bg-256-38 { background-color: #00AFD7; }
.bg-256-39 { background-color: #00AFFF; }
.bg-256-40 { background-color: #00D700; }
.bg-256-41 { background-color: #00D75F; }
.bg-256-42 { background-color: #00D787; }
.bg-256-43 { background-color: #00D7AF; }
.bg-256-44 { background-color: #00D7D7; }
.bg-256-45 { background-color: #00D7FF; }
.bg-256-46 { background-color: #00FF00; }
.bg-256-47 { background-color: #00FF5F; }
.bg-256-48 { background-color: #00FF87; }
.bg-256-49 { background-color: #00FFAF; }
.bg-256-50 { background-color: #00FFD7; }
.bg-256-51 { background-color: #00FFFF; }
.bg-256-52 { background-color: #5F0000; }
.bg-256-53 { background-color: #5F005F; }
.bg-256-54 { background-color: #5F0087; }
.bg-256-55 { background-color: #5F00AF; }
.bg-256-56 { background-color: #5F00D7; }
.bg-256-57 { background-color: #5F00FF; }
.bg-256-58 { background-color: #5F5F00; }
.bg-256-59 { background-color: #5F5F5F; }
.bg-256-60 { background-color: #5F5F87; }
.bg-256-61 { background-color: #5F5FAF; }
.bg-256-62 { background-color: #5F5FD7; }
.bg-256-63 { background-color: #5F5FFF; }
.bg-256-64 { background-color: #5F8700; }
.bg-256-65 { background-color: #5F875F; }
.bg-256-66 { background-color: #5F8787; }
.bg-256-67 { background-color: #5F87AF; }
.bg-256-68 { background-color: #5F87D7; }
.bg-256-69 { background-color: #5F87FF; }
.bg-256-70 { background-color: #5FAF00; }
.bg-256-71 { background-color: #5FAF5F; }
.bg-256-72 { background-color: #5FAF87; }
.bg-256-73 { background-color: #5FAFAF; }
.bg-256-74 { background-color: #5FAFD7; }
.bg-256-75 { background-color: #5FAFFF; }
.bg-256-76 { background-color: #5FD700; }
.bg-256-77 { background-color: #5FD75F; }
.bg-256-78 { background-color: #5FD787; }
.bg-256-79 { background-color: #5FD7AF; }
.bg-256-80 { background-color: #5FD7D7; }
.bg-256-81 { background-color: #5FD7FF; }
.bg-256-82 { background-color: #5FFF00; }
.bg-256-83 { background-color: #5FFF5F; }
.bg-256-84 { background-color: #5FFF87; }
.bg-256-85 { background-color: #5FFFAF; }
.bg-256-86 { background-color: #5FFFD7; }
.bg-256-87 { background-color: #5FFFFF; }
.bg-256-88 { background-color: #870000; }
.bg-256-89 { background-color: #87005F; }
.bg-256-90 { background-color: #870087; }
.bg-256-91 { background-color: #8700AF; }
.bg-256-92 { background-color: #8700D7; }
.bg-256-93 { background-color: #8700FF; }
.bg-256-94 { background-color: #875F00; }
.bg-256-95 { background-color: #875F5F; }
.bg-256-96 { background-color: #875F87; }
.bg-256-97 { background-color: #875FAF; }
.bg-256-98 { background-color: #875FD7; }
.bg-256-99 { background-color: #875FFF; }
.bg-256-100 { background-color: #878700; }
.bg-256-101 { background-color: #87875F; }
.bg-256-102 { background-color: #878787; }
.bg-256-103 { background-color: #8787AF; }
.bg-256-104 { background-color: #8787D7; }
.bg-256-105 { background-color: #8787FF; }
.bg-256-106 { background-color: #87AF00; }
.bg-256-107 { background-color: #87AF5F; }
.bg-256-108 { background-color: #87AF87; }
.bg-256-109 { background-color: #87AFAF; }
.bg-256-110 { background-color: #87AFD7; }
.bg-256-111 { background-color: #87AFFF; }
.bg-256-112 { background-color: #87D700; }
.bg-256-113 { background-color: #87D75F; }
.bg-256-114 { background-color: #87D787; }
.bg-256-115 { background-color: #87D7AF; }
.bg-256-116 { background-color: #87D7D7; }
.bg-256-117 { background-color: #87D7FF; }
.bg-256-118 { background-color: #87FF00; }
.bg-256-119 { background-color: #87FF5F; }
.bg-256-120 { background-color: #87FF87; }
.bg-256-121 { background-color: #87FFAF; }
.bg-256-122 { background-color: #87FFD7; }
.bg-256-123 { background-color: #87FFFF; }
.bg-256-124 { background-color: #AF0000; }
.bg-256-125 { background-color: #AF005F; }
.bg-256-126 { background-color: #AF0087; }
.bg-256-127 { background-color: #AF00AF; }
.bg-256-128 { background-color: #AF00D7; }
.bg-256-129 { background-color: #AF00FF; }
.bg-256-130 { background-color: #AF5F00; }
.bg-256-131 { background-color: #AF5F5F; }
.bg-256-132 { background-color: #AF5F87; }
.bg-256-133 { background-color: #AF5FAF; }
.bg-256-134 { background-color: #AF5FD7; }
.bg-256-135 { background-color: #AF5FFF; }
.bg-256-136 { background-color: #AF8700; }
.bg-256-137 { background-color: #AF875F; }
.bg-256-138 { background-color: #AF8787; }
.bg-256-139 { background-color: #AF87AF; }
.bg-256-140 { background-color: #AF87D7; }
.bg-256-141 { background-color: #AF87FF; }
.bg-256-142 { background-color: #AFAF00; }
.bg-256-143 { background-color: #AFAF5F; }
.bg-256-144 { background-color: #AFAF87; }
.bg-256-145 { background-color: #AFAFAF; }
.bg-256-146 { background-color: #AFAFD7; }
.bg-256-147 { background-color: #AFAFFF; }
.bg-256-148 { background-color: #AFD700; }
.bg-256-149 { background-color: #AFD75F; }
.bg-256-150 { background-color: #AFD787; }
.bg-256-151 { background-color: #AFD7AF; }
.bg-256-152 { background-color: #AFD7D7; }
.bg-256-153 { background-color: #AFD7FF; }
.bg-256-154 { background-color: #AFFF00; }
.bg-256-155 { background-color: #AFFF5F; }
.bg-256-156 { background-color: #AFFF87; }
.bg-256-157 { background-color: #AFFFAF; }
.bg-256-158 { background-color: #AFFFD7; }
.bg-256-159 { background-color: #AFFFFF; }
.bg-256-160 { background-color: #D70000; }
.bg-256-161 { background-color: #D7005F; }
.bg-256-162 { background-color: #D70087; }
.bg-256-163 { background-color: #D700AF; }
.bg-256-164 { background-color: #D700D7; }
.bg-256-165 { background-color: #D700FF; }
.bg-256-166 { background-color: #D75F00; }
.bg-256-167 { background-color: #D75F5F; }
.bg-256-168 { background-color: #D75F87; }
.bg-256-169 { background-color: #D75FAF; }
.bg-256-170 { background-color: #D75FD7; }
.bg-256-171 { background-color: #D75FFF; }
.bg-256-172 { background-color: #D78700; }
.bg-256-173 { background-color: #D7875F; }
.bg-256-174 { background-color: #D78787; }
.bg-256-175 { background-color: #D787AF; }
.bg-256-176 { background-color: #D787D7; }
.bg-256-177 { background-color: #D787FF; }
.bg-256-178 { background-color: #D7AF00; }
.bg-256-179 { background-color: #D7AF5F; }
.bg-256-180 { background-color: #D7AF87; }
.bg-256-181 { background-color: #D7AFAF; }
.bg-256-182 { background-color: #D7AFD7; }
.bg-256-183 { background-color: #D7AFFF; }
.bg-256-184 { background-color: #D7D700; }
.bg-256-185 { background-color: #D7D75F; }
.bg-256-186 { background-color: #D7D787; }
.bg-256-187 { background-color: #D7D7AF; }
.bg-256-188 { background-color: #D7D7D7; }
.bg-256-189 { background-color: #D7D7FF; }
.bg-256-190 { background-color: #D7FF00; }
.bg-256-191 { background-color: #D7FF5F; }
.bg-256-192 { background-color: #D7FF87; }
.bg-256-193 { background-color: #D7FFAF; }
.bg-256-194 { background-color: #D7FFD7; }
.bg-256-195 { background-color: #D7FFFF; }
.bg-256-196 { background-color: #FF0000; }
.bg-256-197 { background-color: #FF005F; }
.bg-256-198 { background-color: #FF0087; }
.bg-256-199 { background-color: #FF00AF; }
.bg-256-200 { background-color: #FF00D7; }
.bg-256-201 { background-color: #FF00FF; }
.bg-256-202 { background-color: #FF5F00; }
.bg-256-203 { background-color: #FF5F5F; }
.bg-256-204 { background-color: #FF5F87; }
.bg-256-205 { background-color: #FF5FAF; }
.bg-256-206 { background-color: #FF5FD7; }
.bg-256-207 { background-color: #FF5FFF; }
.bg-256-208 { background-color: #FF8700; }
.bg-256-209 { background-color: #FF875F; }
.bg-256-210 { background-color: #FF8787; }
.bg-256-211 { background-color: #FF87AF; }
.bg-256-212 { background-color: #FF87D7; }
.bg-256-213 { background-color: #FF87FF; }
.bg-256-214 { background-color: #FFAF00; }
.bg-256-215 { background-color: #FFAF5F; }
.bg-256-216 { background-color: #FFAF87; }
.bg-256-217 { background-color: #FFAFAF; }
.bg-256-218 { background-color: #FFAFD7; }
.bg-256-219 { background-color: #FFAFFF; }
.bg-256-220 { background-color: #FFD700; }
.bg-256-221 { background-color: #FFD75F; }
.bg-256-222 { background-color: #FFD787; }
.bg-256-223 { background-color: #FFD7AF; }
.bg-256-224 { background-color: #FFD7D7; }
.bg-256-225 { background-color: #FFD7FF; }
.bg-256-226 { background-color: #FFFF00; }
.bg-256-227 { background-color: #FFFF5F; }
.bg-256-228 { background-color: #FFFF87; }
.bg-256-229 { background-color: #FFFFAF; }
.bg-256-230 { background-color: #FFFFD7; }
.bg-256-231 { background-color: #FFF; }
.bg-256-232 { background-color: #080808; }
.bg-256-233 { background-color: #121212; }
.bg-256-234 { background-color: #1C1C1C; }
.bg-256-235 { background-color: #262626; }
.bg-256-236 { background-color: #303030; }
.bg-256-237 { background-color: #3A3A3A; }
.bg-256-238 { background-color: #444; }
.bg-256-239 { background-color: #4E4E4E; }
.bg-256-240 { background-color: #585858; }
.bg-256-241 { background-color: #606060; }
.bg-256-242 { background-color: #666; }
.bg-256-243 { background-color: #767676; }
.bg-256-244 { background-color: #808080; }
.bg-256-245 { background-color: #8A8A8A; }
.bg-256-246 { background-color: #949494; }
.bg-256-247 { background-color: #9E9E9E; }
.bg-256-248 { background-color: #A8A8A8; }
.bg-256-249 { background-color: #B2B2B2; }
.bg-256-250 { background-color: #BCBCBC; }
.bg-256-251 { background-color: #C6C6C6; }
.bg-256-252 { background-color: #D0D0D0; }
.bg-256-253 { background-color: #DADADA; }
.bg-256-254 { background-color: #E4E4E4; }
.bg-256-255 { background-color: #EEE; }

pre.parsed { min-height: 3.5em; padding: 1em .5em; background: #0C0C0C; color: #E5E5E5; line-height: 1.2em; }
pre.parsed.light { background: #FFF; color: #0C0C0C; }

pre.parsed .hex .content,
pre.parsed .octal .content,
pre.parsed .styling > .content,
pre.parsed .command .content .wrap,
pre.parsed .token .content { display: inline-block; width: 0; color: transparent; }

pre.parsed *::selection { background: transparent; }
pre.parsed:hover *::selection { background: #fff; }

pre.parsed:hover .content .wrap,
pre.parsed:hover .content { color: inherit; display: inline; }
pre.parsed:hover:after,
pre.parsed:hover *:after { content: '' !important; }

pre { position: relative; }
pre a.btn { display: none; position: absolute; right: 2px; top: 2px; }
pre:hover a.btn { display: block; }
pre.copy-paste { max-height: 30em; }
.fg.bg-30,
.fg.bg-49 { background-color: #0C0C0C; }
.fg.bg-31 { background-color: #CD0000; }
.fg.bg-32 { background-color: #00CD00; }
.fg.bg-33 { background-color: #CDCD00; }
.fg.bg-34 { background-color: #1E90FF; }
.fg.bg-35 { background-color: #CD00CD; }
.fg.bg-36 { background-color: #00CDCD; }
.fg.bg-37,
.fg.bg-39 { background-color: #E5E5E5; }
.bg.bg-49,
.fg.bg-90 { background-color: #4C4C4C; }
.fg.bg-91 { background-color: #F00; }
.fg.bg-92 { background-color: #0F0; }
.fg.bg-93 { background-color: #FF0; }
.fg.bg-94 { background-color: #4682B4; }
.fg.bg-95 { background-color: #F0F; }
.fg.bg-96 { background-color: #0FF; }
.fg.bg-97 { background-color: #FFF; }

.loading::after { content: 'Loading...'; margin-left: 1em; font-size: 0.8em; }
